{% extends "garage/base.html" %}
{% load staticfiles %}

{% block content %}
      <div class="parte2">
        {% if dato.vendido %}
                <img src="{% static dato.imagen %}" style="width:320px;height:200px">
                <div class="vendido">
                  <p>Lo sentimos este auto ha sido VENDIDO</p>
                </div>
        {% else %}
                <img src="{% static dato.imagen %}" style="width:320px;height:200px">
              <div class="info">
              <a class="btn btn-default" href="{% url 'Editar' pk=dato.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
              <a class="btn btn-default" href="{% url 'Eliminar' pk=dato.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                 <p>Propietario: {{ dato.usuario }}</p>
                 <p>Correo: {{ dato.correo }}</p>
                 <p>Precio: {{ dato.precio }}</p>
              </div>
              <p>{{ dato.descripcion|linebreaks }}</p>
        {% endif %}
      </div>
{% endblock content %}
