{% load staticfiles %}
<html>
    <head>
        <title>CARROS</title>
    </head>
    <body>
        <div>
            <h1><a href="">Lista de Carros</a></h1>
        </div>
        <div>
          {% for d in dato %}
              <div>
                  <h1>{{ d.marca }}({{ d.modelo }})</h1>
                  <img src="{% static d.imagen %}" style="width:300px;height:200px">
                  <p>{{ d.descripcion|linebreaks }}</p>
                  <p>Fecha: {{ d.fecha }}</p>
              </div>
          {% endfor %}
        </div>
    </body>
</html>
