{% extends "garage/base.html" %}
{% load staticfiles %}

{% block content %}
      {% for d in dato %}
          <div class="col-md-8" style="background-color:White;">
            <div class="post">
                <h2><a href="{% url "garage.views.Detalles" pk=d.pk %}">{{ d.marca }}({{ d.modelo }})</a></h2>
                <div class="info">
                   <p>Correo: {{ d.correo }}</p>
                   <p>Precio: {{ d.precio }}</p>
                   <p>Fecha: {{ d.fecha }}</p>
                </div>
                <p>{{ d.descripcion|linebreaks }}</p>
            </div>
            <hr/>
          </div>
          <div class="col-md-4">
            <div class="post">
              <img src="{% static d.imagen %}" style="width:330px;height:220px">
            </div>
          </div>
      {% endfor %}
{% endblock content %}
